/* color variables */
/* grid template */
@import url("grid.css");
body {
  background-color: #e6e6e6;
  color: #616346;
  font-family: "Roboto", sans-serif;
}

.headline {
  padding: 1em 0;
  font-size: clamp(8px, 2vw, 18px);
  text-align: center;
}

.headline h1 {
  font-family: "El Messiri", sans-serif;
}

.nav-link {
  text-align: center;
}

.nav-link a {
  color: #73452E;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: clamp(14px, 2vw, 20px);
  font-style: italic;
}

.nav-link a:hover, .nav-link a:focus {
  text-decoration: none;
}

/* flip card */
.flip-card-container {
  width: 100%;
  height: 100%;
}

.flip-card-container .flip-card {
  position: relative;
  height: 100%;
  -webkit-transition: all .6s ease-in;
  transition: all .6s ease-in;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-container .flip-card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-container .flip-card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-container .flip-card .face.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (max-width: 767px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (200px)[6];
        grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-rows: (200px)[6];
        grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }
}

.gallery > div:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery > div:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery > div > figure {
  height: 100%;
  margin: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.gallery > div > figure:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.gallery > div > figure.open {
  position: absolute;
  top: 2vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: clamp(50vw, 100vh, 98vw);
  height: auto;
  z-index: 20;
}

.gallery > div > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

#overlay button#close {
  position: absolute;
  top: 5vh;
  right: 5vw;
  z-index: 30;
  color: white;
  text-shadow: 3px -1px 2px #757575, 2px 2px 2px #757575;
  background-color: transparent;
  border: none;
  font-size: 3em;
  cursor: pointer;
}

body.popover {
  position: fixed;
  overflow-y: hidden;
}

.contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .links div {
  margin: 5px 10px;
  font-size: 24px;
}

.contact .links div a {
  text-decoration: none;
  color: #73452E;
}

.contact .links div i {
  border: 2px solid #73452E;
  border-radius: 50%;
  padding: 4px 8px;
}

.contact .links div:hover a > i, .contact .links div:focus a > i {
  background-color: #D5B9B5;
}

@media screen and (min-width: 768px) {
  .contact .links a:after {
    content: attr(data-title);
    font-size: 0.9em;
    margin-left: 1ch;
  }
}
